*{
	overflow: hidden;
}
body{
	height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#markointainer{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	height: 100%;
}
#gol1f{
	background-color: black;
	width: 2px;
	height: 40%;
	position: absolute;
	left: 10%;
	top: 30%;
}
#gol1c{
	background-color: black;
	width: 10%;
	height: 2px;
	position: absolute;
	left: 0;
	top: 30%;
}
#gol1b{
	background-color: black;
	width: 10%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 30%;
}
#gol2f{
	background-color: black;
	width: 2px;
	height: 40%;
	position: absolute;
	right: 10%;
	top: 30%;
}
#gol2c{
	background-color: black;
	width: 10%;
	height: 2px;
	position: absolute;
	right: 0;
	top: 30%;
}
#gol2b{
	background-color: black;
	width: 10%;
	height: 2px;
	position: absolute;
	right: 0;
	bottom: 30%;
}
#gamecontainer{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
}
#position1{
	position: absolute;
	bottom: 0;
	left: 0;
}
#position2{
	position: absolute;
	right: 0;
	bottom: 0;
}
#player1{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
}
#player2{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
}
#disco{
	position: absolute;
	left: 30%;
	top: 50%;
	background-color: black;
	border-radius: 50%;
}
#game{
	position: absolute;
	z-index: 1;	
	pointer-events: none;
}