#add {
	position: absolute;
	top: 5px;
	right: 5px;
}

.tab-pane{
	height: 100%;
	width: 99%;
	margin: 5px;
	border: 1px solid #9b9b9b;
	padding: 10px;
}

* {
    border: none;
    outline: none;
    margin: 0 auto;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

ul,
ol,
div,
span,
input,
textarea,
select,
li,
form,
label,
html,
body {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

input[type=image],
input[type=submit],
a,
select {
    cursor: pointer;
}

input,
textarea {
    background-color: transparent;
	width: 100%;
}

label,
img {
    display: block;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}
